node_modules
 .eslintrc.cjs
       
        README.md
        index.html
        package-lock.json
        package.json
        postcss.config.js
        public/
        src/
        tailwind.config.js
        vite.config.js
